<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>广青高炉智能系统</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    {% endblock %}
</head>
<body>
    {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
    {% endfor %}
    <h2>
        <img alt="Avatar" class="avatar" src="{{ url_for('static', filename='images/GQMT.jpg') }}">
        欢迎来到广青高炉智能系统
    </h2>

    <h2>
        近期煤气利用率： {{output}}
    </h2>
    <img alt="sample_plot" class="totoro" src="data:image/png;base64, {{ plot_url }}">
    <nav>
        <ul>
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('logout') }}">登出</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">登入</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}{% endblock %}
    <footer>
        <small>&copy; 2020 <a href="https://www.mckinsey.com.cn/insights/manufacturing/">Mckinsey Operation and Digital </a></small>
	</footer>
</body>
</html>