<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>广青高炉智能系统</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    {% endblock %}
</head>
<body>
    {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
    {% endfor %}
    <h2>
        <img alt="Avatar" class="avatar" src="{{ url_for('static', filename='images/GQMT.jpg') }}">
        广青高炉智能系统
    </h2>
	<h3>  </h3>
	<form method="post">
	    用户名<br>
	    <input type="text" name="username" required><br><br>
	    密码<br>
	    <input type="password" name="password" required><br><br>
	    <input class="btn" type="submit" name="submit" value="登陆">
	</form>
	<h3>  </h3>
	<img alt="BOF" class="totoro" src="{{ url_for('static', filename='images/BOF.jpg') }}">
    <footer>
        <small>&copy; 2020 <a href="https://www.mckinsey.com.cn/insights/manufacturing/">Mckinsey Operation and Digital </a></small>
	</footer>
</body>
</html>
